<a href="https://colab.research.google.com/github/asd123745/-/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a = input('입력')
a

입력다딱

'다딱'

In [0]:
b = input('당신의 나이 >>>')
b

당신의 나이 >>>25

'25'

In [0]:
type(b)

str

In [0]:
c= int(b)
c, type(c)

(25, int)

In [0]:
year = int(input('출생년도를 입력하세요 >>>'))
print('당신은',year,'년에 태어났군요')
age= 2020-year+1
print('당신의나이는',age,'세 이군요')

출생년도를 입력하세요 >>>2002
당신은 2002 년에 태어났군요
당신의나이는 19 세 이군요

**Format**
서식지정자

In [0]:
s= 'a is {}'
s.format('apple')

'a is apple'

In [0]:
a= '%s %d 개 가격은 %.2f $다'
b=a % ('햄버거',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f $다
햄버거 2 개 가격은 8.00 $다

In [0]:
a= '%s %d마리 가격은 %d원이다'
b=a % ('치킨',2,40000)
print(b)

치킨 2마리 가격은 40000원이다